#Android specific
bin
gen
obj
libs/armeabi
libs/armeabi-v7a
libs/mips
libs/x86
local.properties
release.properties
ant.properties
*.class
*.apk

#Gradle
.gradle
build
gradle.properties
gradle-app.setting

#Maven
target
pom.xml.*

#Eclipse
.project
.classpath
.settings
.metadata

#IntelliJ IDEA
.idea
*.iml
