<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ebookdroid" android:installLocation="preferExternal" android:versionName="1.0.0" android:versionCode="1">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".pdfdroid.PdfViewerActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
        </activity>
        <activity android:name=".djvudroid.DjvuViewerActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="image/djvu"/>
            </intent-filter>
        </activity>
        <activity android:name=".xpsdroid.XpsViewerActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.ms-xpsdocument"/>
                <data android:mimeType="application/oxps"/>
            </intent-filter>
        </activity>
        <activity android:name=".cbdroid.CbzViewerActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/x-cbz"/>
            </intent-filter>
        </activity>
        <activity android:name=".cbdroid.CbrViewerActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/x-cbr"/>
            </intent-filter>
        </activity>
        <activity android:name=".core.RecentActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".core.settings.SettingsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".core.BrowserActivity" android:theme="@android:style/Theme.NoTitleBar" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation" />

    </application>
</manifest>
