<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sufficientlysecure.viewer"
    android:installLocation="auto"
    android:versionCode="2500"
    android:versionName="2.5">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 0x00010001: OpenGL ES 1.1 -->
    <uses-feature
        android:glEsVersion="0x00010001"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.ebookdroid.EBookDroidApp"
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
        android:theme="@style/ebookdroid"
        android:largeHeap="true">
        <activity
            android:name="org.ebookdroid.ui.viewer.ViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!-- 
                Note: Intent matching isn't as easy as it looks at first sight.
                All <data> tags are merged by Android! <intent-filter> tags are OR'ed
             -->
            <!-- Generic intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="image/djvu" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
                <data android:mimeType="application/oxps" />
                <data android:mimeType="application/x-cbz" />
                <!-- <data android:mimeType="application/x-cbr" /> -->
                <data android:mimeType="application/x-fb2" />
            </intent-filter>
            <!-- 
                Allow opening directly from browser for schemes http, https, and samba.
                Matching with mimeTypes here would result in direct opening of pdfs without user interaction!!! 
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="smb" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.djv" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\.oxps" />
                <data android:pathPattern=".*\\.cbz" />
                <!-- <data android:pathPattern=".*\\.cbr" /> -->
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
            </intent-filter>
            <!-- To allow opening from file managers/content scheme based on file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <!-- Workaround to match files in pathes with dots in them, like /cdcard/my.folder/test.pdf -->
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\..*\\.pdf" />
                <data android:pathPattern=".*\\..*\\..*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\..*\\.djvu" />
                <data android:pathPattern=".*\\..*\\..*\\.djvu" />
                <data android:pathPattern=".*\\.djv" />
                <data android:pathPattern=".*\\..*\\.djv" />
                <data android:pathPattern=".*\\..*\\..*\\.djv" />
                <data android:pathPattern=".*\\.xps" />
                <data android:pathPattern=".*\\..*\\.xps" />
                <data android:pathPattern=".*\\..*\\..*\\.xps" />
                <data android:pathPattern=".*\\.oxps" />
                <data android:pathPattern=".*\\..*\\.oxps" />
                <data android:pathPattern=".*\\..*\\..*\\.oxps" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\..*\\.cbz" />
                <data android:pathPattern=".*\\..*\\..*\\.cbz" />
                <!-- <data android:pathPattern=".*\\.cbr" /> -->
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\..*\\.fb2" />
                <data android:pathPattern=".*\\..*\\..*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\..*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.fb2\\.zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ebookdroid.ui.library.RecentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ebookdroid.ui.opds.OPDSActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/opds"
            android:launchMode="singleTask" />
        <activity
            android:name="org.ebookdroid.ui.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.ebookdroid.ui.settings.FragmentedSettingsActivity" />
        <activity
            android:name="org.ebookdroid.ui.settings.BookSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="org.ebookdroid.ui.library.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="org.ebookdroid.ui.about.AboutActivity"
            android:icon="@drawable/application_icon"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="org.ebookdroid.ui.library.dialogs.FolderDlg"
            android:icon="@drawable/application_icon"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>