<html>

<h1>The Academy fonts</h1>

The Academy font pack contains oldest version of Academy Old fonts created by R.A.Pavlov and freely distributed through the World Wide Web. Modified by A.I.Komarovskikh.

<a href="http://lizard.phys.msu.su/home/compu_sci/oldfonts-eng.html">The font pack source</a>

<h1>The Academy Old font pack</h1>

The Academy font pack contains Academy fonts created by R.A.Pavlov and freely distributed through the World Wide Web. Modified by A.V.Dmitriev.

<a href="http://lizard.phys.msu.su/home/compu_sci/oldfonts-eng.html">The font pack source</a>

<h1>The FreeFonts font pack</h1>

The FreeFonts font pack contains GNU GPL fonts.

<a href="http://www.gnu.org/software/freefont/">The font pack source</a>

<h1>Free URW symbol fonts</h1>

This pack contains Symbol and Dingbat fonts contributed by URW under GPL licence.

<a href="http://www.gnu.org/software/freefont/sources/resources.html#URW">The font pack source</a>

<h1>Free NimbusL fonts</h1>

This pack contains NimbusL fonts contributed by URW under GPL licence.

<a href="http://www.gnu.org/software/freefont/sources/resources.html#URW">The font pack source</a>


</html>